<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category_Sidebar Template</title>
</head>
<body >
<div th:fragment="category_select">
<form action="http://localhost:8484/articles/category-selected" method="request">
  <select th:name="select_JobGroup" class="col-sm-3 form-select-lg" aria-label=".form-select-lg example" style="width: 200px; margin-left: 80px; margin-bottom: 20px" >
    <option selected>직군</option>
    <option value="1">전체</option>
    <option value="2">개발</option>
    <option value="3">경영·비즈니스</option>
    <option value="4">마케팅·광고</option>
    <option value="5">디자인</option>
    <option value="6">영업</option>
    <option value="7">고객서비스·리테일</option>
    <option value="8">게임 제작</option>
    <option value="9">미디어</option>
    <option value="10">HR</option>
    <option value="11">엔지니어링·설계</option>
    <option value="12">금융</option>
    <option value="13">제조·생산</option>
    <option value="14">의료·제약·바이오</option>
    <option value="15">물류·무역</option>
    <option value="16">교육</option>
    <option value="17">법률·법집행기관</option>
    <option value="18">식·음료</option>
    <option value="19">건설·시설</option>
    <option value="20">공공·복지</option>
  </select>

  <select th:name="select_Position" class="col-sm-3 form-select-lg" aria-label=".form-select-sm example" style="width: 400px; margin-left: 20px; margin-bottom: 20px">
    <option selected>직무</option>
    <option value="1">웹 개발자</option>
    <option value="2">서버 개발자</option>
    <option value="3">소프트웨어 엔지니어</option>
    <option value="4">프론트엔드 개발자</option>
    <option value="5">자바 개발자</option>
    <option value="6">C,C++ 개발자</option>
    <option value="7">파이썬 개발자</option>
    <option value="8">안드로이드 개발자</option>
    <option value="9">DevOps / 시스템 관리자</option>
    <option value="10">Node.js 개발자</option>
    <option value="11">iOS 개발자</option>
    <option value="12">시스템,네트워크 개발자</option>
    <option value="13">데이터 엔지니어</option>
    <option value="14">머신러닝 엔지니어</option>
    <option value="15">기술지원</option>
    <option value="16">개발 매니저</option>
    <option value="17">데이터 사이언티스트</option>
    <option value="18">빅데이터 엔지니어</option>
    <option value="19">QA,테스트 엔지니어</option>
    <option value="20">보안 엔지니어</option>
    <option value="21">임베디드 개발자</option>
    <option value="22">프로덕트 매니저</option>
    <option value="23">하드웨어 엔지니어</option>
    <option value="24">PHP 개발자</option>
    <option value="25">DBA</option>
    <option value="26">블록체인 플랫폼 엔지니어</option>
    <option value="27">크로스플랫폼 앱 개발자</option>
    <option value="28">.NET 개발자</option>
    <option value="29">웹 퍼블리셔</option>
    <option value="30">ERP전문가</option>
    <option value="31">영상,음성 엔지니어</option>
    <option value="32">CTO,Chief Technology Officer</option>
    <option value="33">그래픽스 엔지니어</option>
    <option value="34">BI 엔지니어</option>
    <option value="35">루비온레일즈 개발자</option>
    <option value="36">VR 엔지니어</option>
    <option value="37">CIO,Chief Information Officer</option>
  </select>
  <button type="submit" class="btn btn-primary mb-auto btn-lg" style="margin-left: 20px">선택 완료</button>
</form>
</div>
</body>
</html>